*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/backend/config.py
/backend/DigiCertGlobalRootCA.crt (1).pem
backend/__pycache__/config.cpython-312.pyc
backend/__pycache__/DatabaseConnection.cpython-312.pyc
backend/DigiCertGlobalRootCA.crt_1.pem
backend/DigiCertGlobalRootCA.crt.pem
backend/app.py
backend/app.py
backend/app.py
